
.encryption_drag-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.encryption_icon{
    font-size: 50px;
    color: #00043a;
}
.encryption_drag-area header{
    font-size: 20px;
    font-weight: 500;
}

.encryption_drag-area button{
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.enc_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light_blue_btn{
    color: white;
    background-color: #0077b6;
}

.blue_font{
    color: #00043a;
}