
    <div class="d-flex text-center flex-column">
      <h4 class="blue_font futura_font" style="font-size: 45px;">Decrypt file</h4>
      <div class="decryption_icon"><i class="fas fa-cloud-upload-alt"></i></div>
      
      <header class="decryption_sign_header blue_font">Drag & Drop to Upload File</header>
      <span class="decryption_or blue_font">OR</span>
      
      <button id="decryption_sign_browse_button" style="border-radius: 0px;"
        class="btn light_blue_btn font-weight-bold">Browse File</button>
      <input type="file" id="decryption_sign_browse_file" hidden>

      <button id="decryption_btn" style="display: none; border-radius: 0px;" 
         class="btn light_blue_btn mt-4 font-weight-bold">Start Decryption</button>

    </div>

